html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

.input-header {
  font-size: xx-large;
  font-family: 'Arima', cursive;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#amount-label {
  font-size: medium;
  font-family: 'Arima', cursive;
  width: 83px;
}

#amount-slider {
  margin-top: 8px;
  -webkit-appearance: none;
  width: 100%;
  max-width: 800px;
  height: 10px;
  background: var(--primary-light);
  border-radius: 5px;
}

#amount-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--primary-dark);
  cursor: pointer;
  border-radius: 50%;
}

.amount-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--primary-dark);
  cursor: pointer;
}

.generate-button {
  margin-top: 50px;
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50%;
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  background: white;
  cursor: pointer;
  user-select: none;
  transition: box-shadow 0.3s;
  font-size: large;
  font-family: 'Arima', cursive;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.generate-button:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
